# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
.env
.venv
env/
venv/
ENV/
VENV/

# Node dependencies
node_modules/

# Database
*.sqlite3
*.db

# Uploads
uploads/

# IDE / Editor specific
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db
